<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/fav-icon.png" type="image/x-icon">
    <title>Product Card</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <section class="box-about">
        <div class="container-about">
            <h3>made with love by <a class="profile" href="https://www.linkedin.com/in/joel-bidal-55852711b/" target="_blank">Joel Bidal</a></h3>
            <h5>Inspired by <a class="profile" href="https://www.youtube.com/watch?v=AwRb8LX-szg&list=WL" target="_blank">True Coder</a></h5>
        </div>
    </section>
</body>
</html>